body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h1 {
    text-align: center;
}

#myButton {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }