<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='regstyle.css') }}">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div class="container">
            <div class="col">
                <h1>Регистрация</h1>
                <p>Заполните форму ниже, чтобы создать аккаунт</p>
                <label><b>Имя Фамилия</b></label>
                <input type="text" placeholder="Введите имя" name="name" required>

                <label><b>Эл. почта</b></label>
                <input type="text" placeholder="Введите почту" name="email" required>

                <label><b>Пароль</b></label>
                <input type="password" placeholder="Введите пароль" name="psw" required>

                <label><b>Повторите пароль</b></label>
                <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>
                <button type="submit" class="registerbtn" onclick="window.location.href='index.html'">Создать</button>
            </div>
            <div class="container signin">
                <p>У Вас уже есть аккаунт? <a onclick="window.location.href='enter.html'">Войти</a>.</p>
            </div>
        </div>
    </form>
    <button class="mainbtn" onclick="window.location.href='index.html'">Главная</button>
</body>
</html>